Create CSV File

In [7]:
import pandas as pd

var = pd.DataFrame({
    "a":[1,2,3,4,5],
    "b":[3,4,5,6,6],
    "c":["q","r","y","t","u"]
})

var.to_csv("Test.csv")

In [8]:
var = pd.DataFrame({
    "a":[1,2,3,4,5],
    "b":[3,4,5,6,6],
    "c":["q","r","y","t","u"]
})

var.to_csv("Test_2.csv", header = ["alex","bob","click"]) #change column name

In [6]:
var = pd.DataFrame({
    "a":[1,2,3,4,5],
    "b":[3,4,5,6,6],
    "c":["q","r","y","t","u"]
})

var.to_csv("Test_1.csv", index = False) #to remove indexes

# Read CSV

In [3]:
import pandas as pd

csv_1 = pd.read_csv("D:\\Panda\\Test_1.csv")

csv_1

   a  b  c
0  1  3  q
1  2  4  r
2  3  5  y
3  4  6  t
4  5  6  u

Get particular row

In [5]:
csv_1 = pd.read_csv("D:\\Panda\\Test_1.csv", nrows = 3 )

csv_1

   a  b  c
0  1  3  q
1  2  4  r
2  3  5  y

Get Particular column

In [6]:
csv_1 = pd.read_csv("D:\\Panda\\Test_1.csv", usecols = ["b"] )

csv_1

   b
0  3
1  4
2  5
3  6
4  6

In [7]:
csv_1 = pd.read_csv("D:\\Panda\\Test_1.csv", usecols = ["a","b"] )

csv_1

   a  b
0  1  3
1  2  4
2  3  5
3  4  6
4  5  6

In [11]:
#using Index of column

csv_1 = pd.read_csv("D:\\Panda\\Test_1.csv", usecols = [0,1] )

csv_1

   a  b
0  1  3
1  2  4
2  3  5
3  4  6
4  5  6

Index Col

In [12]:
csv_1 = pd.read_csv("D:\\Panda\\Test_1.csv", index_col = "a")  #column a will act as new index column

csv_1

   b  c
a
1  3  q
2  4  r
3  5  y
4  6  t
5  6  u

Header parametr

In [13]:
#make the first row as heading

csv_1 = pd.read_csv("D:\\Panda\\Test_1.csv", header = 2)  

csv_1

   2  4  r
0  3  5  y
1  4  6  t
2  5  6  u

In [15]:
csv_1 = pd.read_csv("D:\\Panda\\Test_1.csv", header = None)  

csv_1

   0  1  2
0  a  b  c
1  1  3  q
2  2  4  r
3  3  5  y
4  4  6  t
5  5  6  u

name paramter

In [14]:
#change name of headings

csv_1 = pd.read_csv("D:\\Panda\\Test_1.csv", names = ["apple", "cat","Bat"] ) 

csv_1

  apple cat Bat
0     a   b   c
1     1   3   q
2     2   4   r
3     3   5   y
4     4   6   t
5     5   6   u

Prefix Parameter

In [16]:
csv_1 = pd.read_csv("D:\\Panda\\Test_1.csv", header = None, prefix = "apple")  

csv_1

TypeError: read_csv() got an unexpected keyword argument 'prefix'

change Data types

In [17]:
#change the data type of a particular column
csv_1 = pd.read_csv("D:\\Panda\\Test_1.csv", dtype = {"b":"float"})  

csv_1

   a    b  c
0  1  3.0  q
1  2  4.0  r
2  3  5.0  y
3  4  6.0  t
4  5  6.0  u