Insert Functions

In [8]:
import pandas as pd

var = pd.DataFrame({
    "a":[1,2,3,4,5,],
    "b":[3,4,5,6,7]
    })


var.insert(1,"python", [11,2,3,4,4]) #(index of new column, name of it, the list of values)

var

   a  python  b
0  1      11  3
1  2       2  4
2  3       3  5
3  4       4  6
4  5       4  7

Pass limited data

In [9]:
var["python_2"] = var["a"][:3]  #list slicing

var

   a  python  b  python_2
0  1      11  3       1.0
1  2       2  4       2.0
2  3       3  5       3.0
3  4       4  6       NaN
4  5       4  7       NaN

Delete Function

In [10]:
var = pd.DataFrame({
    "a":[1,2,3,4,5,],
    "b":[3,4,5,6,7]
    })

var.pop("b")  #using pop function
var

   a
0  1
1  2
2  3
3  4
4  5

In [11]:
var = pd.DataFrame({
    "a":[1,2,3,4,5,],
    "b":[3,4,5,6,7]
    })

del var["a"]  #using del function

var

   b
0  3
1  4
2  5
3  6
4  7